.btn {
    width: 120px;
    height: 40px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cyan;
    outline: none;
    color: rgb(14, 15, 15);
    cursor: pointer;
    margin: 10px;
}